<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Clusters</title>
    <link rel="stylesheet" th:href="@{/css/objects.css}" type="text/css">
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
<div class="wrapper">
    <table class="table">
        <tr>
            <th>Name</th>
            <th>numHosts</th>
            <th>numCpuCores</th>
            <th>numCpuThreads</th>
            <th>CPU Usage MHz</th>
            <th>totalCpu MHz</th>
            <th>memoryUsage MB</th>
            <th>totalMemory Bytes</th>
            <th>freeSpace Bytes</th>
            <th>capacity Bytes</th>
            <th><a th:href="@{'/clusters/'}">hostsList</a></th>
            <th> <a th:href="@{'/virtualMachines/'}">virtualMachinesList</a></th>
            <th><a th:href="@{'/dataStores/'}">dataStoresList</a></th>
        </tr>
        <tr th:each="cluster : ${clusters}">
                <td ><a th:text="${cluster.name}" th:href="@{'/clusters/' + ${cluster.name}}"></a></td>
                <td th:text="${cluster.numHosts}"></td>
                <td th:text="${cluster.numCpuCores}"></td>
                <td th:text="${cluster.numCpuThreads}"></td>
                <td th:text="${cluster.cpuUsage}"></td>
                <td th:text="${cluster.totalCpu}"></td>
                <td th:text="${cluster.memoryUsage}"></td>
                <td th:text="${cluster.totalMemory}"></td>
                <td th:text="${cluster.freeSpace}"></td>
                <td th:text="${cluster.capacity}"></td>
                <td>
                    <p th:each="host : ${cluster.hostsList}">
                        <a th:text="${host.name}" th:href="@{'/hosts/' + ${host.name}}"></a>
                    </p>
                </td>
                <td>
                    <p th:each="virtualMachine : ${cluster.virtualMachinesList}">
                        <a th:text="${virtualMachine.name}" th:href="@{'/virtualMachines/' + ${virtualMachine.name}}"></a>
                    </p>
                </td>
                <td>
                    <p th:each="dataStore : ${cluster.dataStoresList}">
                        <a th:text="${dataStore.name}" th:href="@{'/dataStores/' + ${dataStore.name}}"></a>
                    </p>
                </td>

                <td>
                    <div class="canvas">
                        <canvas th:id="@{'canvas-cpu-' +${cluster.name}}"></canvas>
                        <div th:id="@{'legend-cpu-' +${cluster.name}}"></div>
                    </div>
                    <script>
                        var name = "[[${cluster.name}]]";
                        var canvas = document.getElementById("canvas-cpu-" + name);
                        canvas.width = 150;
                        canvas.height = 150;
                        var legend = document.getElementById("legend-cpu-" + name);
                        legend.width = 150;
                        var data = {
                            "CPU Usage": [[${cluster.cpuUsage}]],
                            "CPU Free": [[${cluster.totalCpu}]] - [[${cluster.cpuUsage}]]
                        };

                        var myPieChart = new PieChart(
                            {
                                canvas: canvas,
                                data: data,
                                colors: ["#fde23e", "#937e88"],
                                legend: legend
                            }
                        );
                        myPieChart.draw();
                    </script>
                </td>
                <td>
                    <div class="canvas">
                        <canvas th:id="@{'canvas-memory-' +${cluster.name}}"></canvas>
                        <div th:id="@{'legend-memory-' +${cluster.name}}"></div>
                    </div>
                    <script>
                        var name = "[[${cluster.name}]]";
                        var canvas = document.getElementById("canvas-memory-" + name);
                        canvas.width = 150;
                        canvas.height = 150;
                        var legend = document.getElementById("legend-memory-" + name);
                        legend.width = 150;
                        var data = {
                            "memory Usage": [[${cluster.memoryUsage}]],
                            "memory Free": [[${cluster.totalMemory}]]/(1024*1024) - [[${cluster.memoryUsage}]]
                        };

                        var myPieChart = new PieChart(
                            {
                                canvas: canvas,
                                data: data,
                                colors: ["#fde23e", "#937e88"],
                                legend: legend
                            }
                        );
                        myPieChart.draw();
                    </script>
                </td>
                <td>
                    <div class="canvas">
                        <canvas th:id="@{'canvas-storage-' +${cluster.name}}"></canvas>
                        <div th:id="@{'legend-storage-' +${cluster.name}}"></div>
                    </div>
                    <script>
                        var name = "[[${cluster.name}]]";
                        var canvas = document.getElementById("canvas-storage-" + name);
                        canvas.width = 150;
                        canvas.height = 150;
                        var legend = document.getElementById("legend-storage-" + name);
                        legend.width = 150;
                        var data = {
                            "storage Usage": [[${cluster.capacity}]] - [[${cluster.freeSpace}]],
                            "storage Free": [[${cluster.freeSpace}]]
                        };

                        var myPieChart = new PieChart(
                            {
                                canvas: canvas,
                                data: data,
                                colors: ["#fde23e", "#937e88"],
                                legend: legend
                            }
                        );
                        myPieChart.draw();
                    </script>
                </td>
        </tr>
    </table>
</div>

</body>
</html>