<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>DataStore</title>
    <link rel="stylesheet" th:href="@{/css/object.css}" type="text/css">
    <script th:src="@{/js/script.js}" type="text/javascript"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="left-container">
                    <p><a th:href="@{'/dataStores/'}">To dataStores list</a></p>
                    <p>name: <span th:text="${dataStore.name}"></span></p>
                    <p>url: <span th:text="${dataStore.url}"></span></p>
                    <p>type: <span th:text="${dataStore.type}"></span></p>
                    <p>clusterName: <a th:text="${dataStore.clusterName}" th:href="@{'/clusters/' + ${dataStore.clusterName}}"></p>
                    <p>hostNamesList: </p>
                    <p th:each="host : ${dataStore.hostsList}">
                        <a th:text="${host.name}" th:href="@{'/hosts/' + ${host.name}}"></a>
                    </p>
                </div>
                <div class="right-container">
                    <div class="storage">
                        <div class="row">
                            <div class="info">
                                <p>Free Space: <span th:text="${dataStore.freeSpace}"></span> Bytes</p>
                                <p>Capacity: <span th:text="${dataStore.capacity}"></span> Bytes</p>
                                <div id="legend-storage"></div>
                            </div>
                            <div class="canvas">
                                <canvas id="canvas-storage"></canvas>
                            </div>
                            <script>
                                var canvas = document.getElementById("canvas-storage");
                                canvas.width = 150;
                                canvas.height = 150;
                                var legend = document.getElementById("legend-storage");
                                var data = {
                                    "Storage Usage": [[${dataStore.Capacity}]] - [[${dataStore.freeSpace}]],
                                    "Storage Free": [[${dataStore.freeSpace}]]
                                };

                                var myPieChart = new PieChart(
                                    {
                                        canvas: canvas,
                                        data: data,
                                        colors: ["#fde23e", "#937e88"],
                                        legend: legend
                                    }
                                );
                                myPieChart.draw();
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${!dataStore.virtualMachinesList.isEmpty()}" class="container virtualMachines">
            <p><a th:href="@{'/VirtualMachines/'}">VirtualMachines:</a></p>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Guest Os</th>
                    <th>Running Status</th>
                    <th>Tools Version</th>
                    <th>DNS Name</th>
                    <th>IP</th>
                    <th>CPU Usage</th>
                    <th>Memory Usage</th>
                    <th>Storage Usage</th>
                </tr>
                <tr th:each="virtualMachine : ${dataStore.virtualMachinesList}">
                    <td><a th:text="${virtualMachine.name}" th:href="@{'/virtualMachines/' + ${virtualMachine.name}}"></td>
                    <td th:text="${virtualMachine.guestOs}"></td>
                    <td th:text="${virtualMachine.vmWareToolsRunningStatus}"></td>
                    <td th:text="${virtualMachine.vmWareToolsVersion}"></td>
                    <td th:text="${virtualMachine.dnsName}"></td>
                    <td th:text="${virtualMachine.ipAddresses}"></td>
                    <td th:text="${virtualMachine.cpuUsage}"></td>
                    <td th:text="${virtualMachine.memoryUsage}"></td>
                    <td th:text="${virtualMachine.committed}"></td>
                </tr>
            </table>
        </div>
        <div th:if="${!dataStore.alarmsList.isEmpty()}" class="container alarms">
            <p><a th:href="@{'/alarms/'}">Alarms:</a></p>
            <table class="table">
                <tr>
                    <th>Entity</th>
                    <th>Status</th>
                    <th>Time</th>
                </tr>
                <tr th:each="alarm : ${dataStore.alarmsList}">
                    <td><a th:text="${alarm.object.name}" th:href="@{'/' + ${alarm.object.object} + '/' + ${alarm.object.name}}"></td>
                    <td th:text="${alarm.overallStatus}"></td>
                    <td th:text="${alarm.time}"></td>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>